<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>
	<%- include('navbar.ejs') %>
	<% if (typeof user !== "undefined") { %>
	<button id="sync-instances" class="btn sync btn-raised btn-fab" data-toggle="tooltip" data-placement="left" title="" data-original-title="Synchronize All">
		<i class="material-icons">sync</i>
	</button>
	<button style="display: none;" onclick="location.href='instance'" id="add-instance-responsive" class="btn btn-info btn-raised btn-fab" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add Instance">
		<i class="material-icons">add</i>
	</button>
	<% } %>
	<nav class="navbar navbar-default pb-15 animated fadeInUp" id="tools-bar">

    <div class="row ml-10">

          <% if (typeof user === "undefined") { %>
						<div class="col-md-10">
		            <div class="form-group animated fadeInLeft">
		                <input type="text" class="form-control" id="search-instance" placeholder="Search for an instance..." />
		            </div>
		        </div>
          <% } else { %>
						<div class="col-md-2">


							<button class="btn btn-raised btn-info mt-30 animated fadeInLeft" id="add-instance" onclick="location.href='instance'"> Add Instance </button>
        		</div>
						<div class="col-md-8">
		            <div class="form-group">
		                <input type="text" class="form-control" id="search-instance" placeholder="Search for an instance..." />
		            </div>
		        </div>
          <% } %>


        <div class="col-md-2 pt-20 align-right animated fadeInRight">
            <ul class="nav nav-pills navbar-right mr-20 vertical-align-middle" role="tablist" id='intances-tabs'>
              <li role="presentation" class="active"><a href="#instances-list" title="List View" id="list-tab" class="glyphicon glyphicon-list" style="font-size:20px;" aria-controls="list" role="tab" data-toggle="tab"></a></li>
              <li role="presentation"><a href="#instances-grid" id="grid-tab" title="Grid View" class="glyphicon glyphicon-th" style="font-size:20px;" aria-controls="grid" role="tab" data-toggle="tab"></a></li>
              <li role="presentation"><a href="#instances-world" id="world-tab" title="World View" class="glyphicon glyphicon-globe" style="font-size:20px;" aria-controls="world" role="tab" data-toggle="tab"></a></li>
            </ul>
        </div>
    </div>
  </nav>
    <!-- <section id = 'intro' class = 'pt-70 pl-50'>

      <div class="container-fluid">
        <div class="row">
          <div class = 'container'>
            <div class = 'row pt-sm-30'>
              <div class="col-lg-12 col-xs-12">
                <h1 class="header-title ttl-rsp">
                  <span id="typo"></span><span id="cursor"> InterMine Registry</span>
                </h1>
              </div>
            </div>
            <div class="row pt-lg-20">
              <div class="col-lg-8">
                <div class="header-text header-dsc">
                  <p class = 'header-desc pb-0 mb-0 pt-0 mt-0'><span class="bold">InterMine Registry</span> is a web application that allow users to view information about existing InterMine instances.</p>
                  <p class = 'header-desc pb-0 mb-0 pt-0 mt-0'> All InterMine instances information in one place. </p>
                  <p class = 'header-desc pb-0 mb-0 pt-0 mt-0'></p>
                <div class="pt-50">
	                  <a class="github-button" style="vertical-align: middle;" href="https://github.com/intermine/intermine-registry" data-size="large" aria-label="InterMine-Registry on GitHub">Source</a>
										<a class="github-btn ml-30" target="_blank" href="/api-docs" data-size="large">Documentation</a>
                </div>
                </div>
              </div>
              <div class="col-lg-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section id="registry-body">
			<div id="dimmer"></div>
			<div id="loader"></div>
			<div id="loader-text" class="align-center"> Synchronizing Instances </div>
    	<div class="container pt-20">
        <!-- <h2 class='align-center' id="view-type"> Instances List View </h2> -->
    		<div class="row mt-xs-20 mt-md-20 mt-lg-20 pb-50">
    			<div class="col-lg-10 col-lg-offset-1">
						<div id="successAlertDiv">
						</div>
            <% if (typeof message !== 'undefined') { %>
              <div class="successalert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Success!</strong> <%= message %>
              </div>
            <% } %>
            <!-- <div class="row main-center">
							<% if (typeof user === "undefined") { %>
              	<div class="col-md-9">
								</div>
			        <% } else { %>
								<div class="col-md-2">
	                <button class="btn" id="add-instance" onclick="location.href='instance'"> Add Instance </button>
	              </div>
	              <div class="col-md-2">
	                <button class="btn" id="sync-instances"> Synchronize All </button>
	              </div>
			        <% } %>
							<div class="col-md-5">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" id="search-instance" placeholder="Search for an instance..." />
                </div>
              </div>
            </div> -->

    				<!-- List View -->
            <div class='pt-20'> </div>
    				<div class="tab-content mt-lg-20">
    					<div role="tabpanel" class="tab-pane fade in active" id="instances-list">
                <table style="width:100%" class="table table-hover table-responsive">
                  <thead>
                    <tr>
                      <th class="col-md-1"></th>
                      <th class="col-md-2">Name</th>
                      <th class="col-md-6 list-desc">Description</th>
					  <th class="col-md-6 list-url" style="display:none;">URL</th>
                      <th class="col-md-3 org-col">Organisms</th>
                      <% if (typeof galaxy2im !== 'undefined') { %>
                        <th class="col-md-2">From Galaxy</th>
                      <% } %>
                    </tr>
                  </thead>
		  <tbody id="list-table-body">
                  </tbody>
                </table>
		<div class="no-results"></div>
                <div id="mine-modals" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                  	<div class="modal-content">
                  		<div class="modal-header" id="list-modal-header">
                  		<button type="button" class="close closeb" data-dismiss="modal">×</button>
                  			<h3 id="modal-mine-title" style="display: inline;">Modal header</h3>
												<img id="modal-mine-img" class='ml-20' src='#' alt='Icon'>
                  	  </div>
                    	<div class="modal-body pb-30" id="mine-modal-body">


                    	</div>

												<% if (typeof user !== "undefined") { %>
											<div class="modal-footer">
													<a class="btn btn-info btn-raised" href="instance/?q=" id="update-mine-list">
														<span class="text">Update</span>
														<span class="icon">
															<i class="fa fa-pencil" aria-hidden="true"></i>
														</span>
													</a>
	                        <button class="btn btn-raised sync" id="sync-mine-list">
														<span class="text">Synchronize</span>
														<span class="icon">
															<i class="fa fa-refresh" style="fond-size:11px;" aria-hidden="true"></i>
														</span>
													</button>
	                        <button class="btn btn-raised btn-danger deletemineb">
														<span class="text">Delete</span>
														<span class="icon">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</span>
													</button>
													<button class="btn btn-raised closeb mr-10 close-btn" data-dismiss="modal">
														<span class="text">Close</span>
													</button>
											</div>
											  <% } else { %>
											<div class="modal-footer pb-15">
													<button class="btn btn-raised closeb mr-10 close-btn" data-dismiss="modal">
														<span class="text">Close</span>
													</button>
                    	</div>
											  <% } %>
                  	</div>
                  </div>
                </div>

                <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                  	<div class="modal-content">
                  		<div class="modal-header">
	                  		<button type="button" class="close closeb" data-dismiss="modal">×</button>
                  			<h3 id="modal-delete-mine-title">Modal header</h3>
                  	  </div>
                    	<div class="modal-body mb-20" id="mine-delete-modal-body">
                    	</div>
                    	<div class="modal-footer pb-15">
                        <button class="btn btn-raised btn-danger confirmdeleteb" data-dismiss="modal">Confirm</button>
                    		<button class="btn btn-raised closeb mr-10" data-dismiss="modal">Close</button>
                    	</div>
                  	</div>
                  </div>
                </div>


    					</div>

    				  <!-- Grid View -->
  						<div role="tabpanel" class="tab-pane fade" id="instances-grid">
                <div class="container">
            			<!-- Codrops top bar -->

            			<div class="main">
            				<ul id="og-grid" class="og-grid">
		
            				</ul>
				 	<div class="no-results"></div>			
            			</div>
            		</div><!-- /container -->
  						</div>


  						<div role="tabpanel" class="tab-pane fade" id="instances-world">
                <div id="map" class="align-center"></div>
  						</div>

    				</div>
    			</div>
    		</div>
      </div>
    </section>
		<% if (typeof user !== "undefined") { %>
			<script type="text/javascript">
					var user = <%- JSON.stringify(user) %>;
			</script>
		<% } %>
        <% if ((typeof im2galaxy !== "undefined") && (typeof galaxyUrl !== "undefined")) { %>
            <script type="text/javascript">
                    var im2galaxy = true;
                    var galaxyUrl = "<%=galaxyUrl%>"
            </script>
        <% } %>

        <% if ((typeof galaxy2im !== "undefined") && (typeof galaxyUrl !== "undefined")) { %>
            <script type="text/javascript">
                    var galaxy2im = true;
                    var galaxyUrl = "<%=galaxyUrl%>"
            </script>
        <% } %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      var jQuery_1_9_1 = $.noConflict(true);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      var jQuery_2_1_3 = $.noConflict(true);
    </script>
    <script language="javascript" src="/javascripts/headerAnimation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/material.js"></script>
		<script src="/js/ripples.min.js"></script>

    <script src="/javascripts/leaflet.js"></script>
    <!-- <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script> -->

    <script language="javascript" type="text/javascript" src="/javascripts/map.js"></script>
    <script language="javascript" src="/js/bootstrap.min.js"></script>
    <script language="javascript" src="/javascripts/index.js"></script>
		<script>
		  $.material.init();
			$('[data-toggle="tooltip"]').tooltip();
		</script>
    <script type="text/javascript">
			if (localStorage.getItem("message")){
				$("#successAlertDiv").append( '<div class = "successalert" id = "indexActionAlert"> ' +
												'<span class="closebtn" onclick="this.parentElement.style.display='+"'none'" + ';">&times;</span> ' +
												localStorage.getItem("message") 		 +
												'</div>'
											);
				localStorage.clear();
			}
    </script>


  </body>
</html>
